## Housing Prices

In [3]:
import pandas as pd
data = pd.read_table('flats_moscow.txt')

In [6]:
data.corr()

,n,price,totsp,livesp,kitsp,dist,metrdist,walk,brick,floor,code
n,1.000000,-0.022761,-0.036063,-0.031432,-0.029838,0.029367,0.007293,-0.010263,-0.034944,0.016642,-0.020986
price,-0.022761,1.000000,0.756042,0.729614,0.597235,-0.331563,-0.152116,0.151996,0.260835,0.132564,-0.089623
totsp,-0.036063,0.756042,1.000000,0.862236,0.781536,-0.114698,-0.041426,0.011876,0.121287,0.113723,-0.021959
livesp,-0.031432,0.729614,0.862236,1.000000,0.573528,-0.197228,-0.052112,0.060367,0.254309,0.094658,-0.005480
kitsp,-0.029838,0.597235,0.781536,0.573528,1.000000,-0.061874,-0.028490,-0.009112,-0.019235,0.117050,-0.054632
dist,0.029367,-0.331563,-0.114698,-0.197228,-0.061874,1.000000,0.099185,-0.175277,-0.394742,0.020530,-0.191975
metrdist,0.007293,-0.152116,-0.041426,-0.052112,-0.028490,0.099185,1.000000,-0.040667,-0.066557,-0.021787,-0.001882
walk,-0.010263,0.151996,0.011876,0.060367,-0.009112,-0.175277,-0.040667,1.000000,0.153708,-0.021207,-0.035588
brick,-0.034944,0.260835,0.121287,0.254309,-0.019235,-0.394742,-0.066557,0.153708,1.000000,-0.051694,0.052712
floor,0.016642,0.132564,0.113723,0.094658,0.117050,0.020530,-0.021787,-0.021207,-0.051694,1.000000,-0.049948
code,-0.020986,-0.089623,-0.021959,-0.005480,-0.054632,-0.191975,-0.001882,-0.035588,0.052712,-0.049948,1.000000

In [7]:
f = data.corr().unstack().reset_index()
f= f[f[0] != 1]
correlated_features = f.sort_values(by=0,ascending=False)
correlated_features[correlated_features[0] > .4]

   level_0 level_1         0
35  livesp   totsp  0.862236
25   totsp  livesp  0.862236
46   kitsp   totsp  0.781536
26   totsp   kitsp  0.781536
23   totsp   price  0.756042
13   price   totsp  0.756042
34  livesp   price  0.729614
14   price  livesp  0.729614
15   price   kitsp  0.597235
45   kitsp   price  0.597235
47   kitsp  livesp  0.573528
37  livesp   kitsp  0.573528